<body>
    <div class="container">
      <h1 class="container-terms">Terms and Conditions</h1>
      <div class="terms">
        <p>By clicking "Allow," you agree to abide by the terms and conditions outlined below. This service is provided on an as-is basis, and the user accepts all risks associated with its use. Any unauthorized use or distribution of this service is strictly prohibited. We reserve the right to modify these terms at any time without notice.
        </p>
        <!-- Add more terms here -->
      </div>
      <div class="actions">
        <button id="allow-btn" (click)="allowTerms()">Allow</button>
      </div>
    </div>
  </body>