<body>
    <div class="container">
      <h1 class="container-terms">Conditions Générales
      </h1>
      <div class="terms">
        <p>
          En cliquant sur "Autoriser", vous acceptez de respecter les conditions générales ci-dessous. Ce service est fourni tel quel, et l'utilisateur accepte tous les risques associés à son utilisation. Toute utilisation ou distribution non autorisée de ce service est strictement interdite. Nous nous réservons le droit de modifier ces conditions à tout moment et sans préavis.
        </p>
        <!-- Add more terms here -->
      </div>
      <div class="actions">
        <button id="allow-btn" (click)="allowTerms()">Autoriser</button>
      </div>
    </div>
  </body>